<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DecryptedMapper">
	<insert id="insertDecryptedDataSsm"
		parameterType="org.kitri.system.dualdata.ssm.SsmDecryptedDto">
		INSERT INTO TB_SSM_DECRYPTED_CUSTOMER (
			customer_id,
			customer_password, customer_name, customer_address,
			customer_contact,
			customer_email, customer_grade
			)
		VALUES (
			#{customer_id},
			#{customer_password}, #{customer_name},
			#{customer_address},
			#{customer_contact}, #{customer_email}, #{customer_grade}
		)
	</insert>
	<insert id="insertDecryptedDataShq"
		parameterType="org.kitri.system.dualdata.shq.ShqDecryptedDto">
	    <selectKey keyProperty="inboundId" resultType="String" order="BEFORE">
	        SELECT
	            TO_CHAR(SYSDATE, 'YYYYMMDD')
	            || #{storeId}
	            || LPAD(SEQ_INTEGRATION_ORDER_ID.NEXTVAL, 3, '0')
	            || 'RCV'
	        FROM DUAL
	    </selectKey>
	
	    INSERT INTO "TB_SHQ_DECRYPTED_STORE_INBOUND" (
	        INBOUND_ID,
	        STORE_ID,
	        STORE_INBOUND_DATE,
	        GOODS_ID,
	        STORE_INBOUND_QUANTITY,
	        STORE_INBOUND_CONFIRM
	    )
	    VALUES (
	        #{inboundId},    
	        #{storeId}, 
	        #{inboundDate},
	        #{goodsId},
	        #{inboundQuantity},
	        'N'
	    )
	    RETURNING
	    	'N'INTO #{confirm}
	</insert>
</mapper>

