<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="purchasemapper">

<select id="getssmpurseqnextval" resultType="int">
	SELECT ssm_pur_seq.NEXTVAL FROM DUAL
</select>

<insert id = "insertpurchase">
	INSERT INTO tb_ssm_purchase(purchase_id, customer_id, store_id, purchase_amount, purchase_date)
	VALUES(#{purchaseId}, #{customerId}, #{storeId}, #{purchaseAmount}, #{purchaseDate}
	)
</insert>
<insert id = "insertpurchasedetail">	
	INSERT INTO tb_ssm_purchase_detail(purchase_id, goods_id, purchase_quantity, purchase_payment_status)
	VALUES(#{purchaseId}, #{goodsId}, #{purchaseQuantity}, #{purchasePaymentStatus}
	)
</insert>

<select id="selectlist" resultType="org.kitri.services.store.repo.dto.SsmTxnPurDto">
	SELECT p.purchase_id AS purchaseId, p.purchase_date AS purchaseDate, p.purchase_amount AS purchaseAmount, g.goods_name AS goodsName, pd.purchase_quantity AS purchaseQuantity
	FROM tb_ssm_purchase p, tb_ssm_purchase_detail pd, tb_ssm_goods g
	WHERE p.purchase_id=pd.purchase_id
  	AND pd.goods_id=g.goods_id
	AND p.customer_id = #{customerId}
	AND pd.purchase_payment_status = #{purchasePaymentStatus}
</select>

<update id="updatestatus">
    {call
        DECLARE
        BEGIN
            UPDATE tb_ssm_purchase_detail SET purchase_payment_status=#{purchasePaymentStatus} WHERE purchase_id=#{purchaseId};
            UPDATE tb_ssm_purchase SET purchase_date=#{purchaseDate} WHERE purchase_id=#{purchaseId};
        END
    }
</update>
<!-- 구매 삭제  -->
<delete id="deletepurchase">
    {call
        DECLARE
        BEGIN
            DELETE FROM tb_ssm_purchase_detail WHERE purchase_id = #{purchaseId};
            DELETE FROM tb_ssm_purchase WHERE purchase_id = #{purchaseId};
        END
    }
</delete>

</mapper>